#experience-section .list-item:hover {
    background-color: #9b97e5;
}

a{
    text-decoration: none;
    color: #1E1E1E;
}

.botao:hover{
    background-color: #9b97e5;
}

/*dark-mode */
body.dark-mode #experience-section .list-item:hover,
body.dark-mode .botao:hover,
body.dark-mode #languageDropdown:hover {
    background-color: #4B44C0;
}

body.dark-mode #languageDropdown {
    background-color: #121212;
    color: #f5f5f5;
    font-family: 'Merriweather', serif;
}